<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardTypeMapper">
<!-- 쿼리 CRUD 생성 페이징X,검색X -->
<delete id="deleteBoardType">
delete from tbl_board_type where board_type = #{board_type}
</delete>
<update id="updateBoardType">
update tbl_board_type set board_name=#{board_name}, board_sun=#{board_sun} 
where board_type=#{board_type}
</update>
<select id="readBoardType" resultType="com.edu.vo.BoardTypeVO">
select * from tbl_board_type where board_type = #{board_type}
</select>
<insert id="insertBoardType">
insert into tbl_board_type values (#{board_type},#{board_name},#{board_sun})
</insert>
<select id="selectBoardType" resultType="com.edu.vo.BoardTypeVO">
select * from tbl_board_type order by board_sun asc
</select>
</mapper>