<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
<!-- bno필드변수가 자동증가가 되는 기능이 필요 -->
<!-- 검색처리는 멤버쿼리에서 작성한 내용 붙여넣기 -->
<sql id="sqlWhere">
	<if test="search_type != '' and search_type != null">
    WHERE 
    	 <if test="search_type == 'all'.toString()">
		    user_id LIKE '%'||#{search_keyword}||'%'
		    OR user_name LIKE '%'||#{search_keyword}||'%'
	     </if>
	     <if test="search_type == 'user_id'.toString()">
	     	user_id LIKE '%'||#{search_keyword}||'%'
	     </if>
	     <if test="search_type == 'user_name'.toString()">
	     	user_name LIKE '%'||#{search_keyword}||'%'
	     </if>
    </if>
</sql>
</mapper>